<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ExecutionInterval" value="500"/> <!-- Integer value in seconds -->
    <add key="LogFileDaysToKeep" value="30"/> <!-- Integer value in days -->
    <!-- Integer value in seconds -->
    <!-- Google Domains Credentials: Start -->
    <add key="Username" value="generated_username"/>
    <add key="Password" value="generated_password"/>
    <add key="DomainURL" value="subdomain.domain.com"/>
    <!-- Google Domains Credentials: END -->
  </appSettings>
</configuration>